**/.conda
**/.venv
**/.vscode
**/.pytest_cache
**/__pycache__
**/*.egg-info
*.env

# Ignore dataset folder
dataset/

# Ignore lightning logs
lightning_logs/

# Ignore submission files
Submissions/

logs_tb/

# ignore the coverage reports
.coverage